body{
    background-color: black;
    background-image: url("SubscriptionBackground.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%; 
}

.NavBar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: antique;
    overflow: hidden;
}

.NavBar a {
    display: block;
    text-align: center;
    color: rgb(62, 61, 61);
    text-decoration: none;
    padding: 15px;
}

.NavBar a:hover {
    background-color: white;
}

.NavBar li {
    float: left;
}

.box1{
    width: 100%;
    height: 70%;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.container{
    width: 45%;
    height: 200px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: darkgray;
    opacity: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.Text{
    text-align: justify;
    width: 80%;
}

#End {
    position: absolute;
    display: flex;
    top: 120%;
}

footer {
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    color:white;
    margin: 0px;
}

.footerContent{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0px;
}

.footerContent{
    font-size: 20;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.Icons{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 25px;
    top: 10px;
}

.Icons li{
    margin: 0 10px;
}

.footerend{
    height:0px;
    position: relative;
    top:-80%;
    margin: 0px;
    padding: 0px;
}

#Logo{
    list-style: none;
    position: relative;
    right: 44px;
    top: 4px;
    background-color: aliceblue;
    /* border-radius: 40px; */
    width: 5%;
    margin: 0px;
}

#Logo li{
    margin: 0 10px;
}

@media (max-width: 600px){
    .container{
        width: 73%;
        height: 217px;
    }
}